* {
    font-family: Helvetica, sans-serif;
}

h1 {
    background-image: url("img1_pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2.brushes {
    background-color: mediumspringgreen;
}

h2.frames {
    background-color: lightcoral;
}

h2.paints {
    background-color: skyblue;
}

a.prices {
    font-weight: bold;
    color: blue;
}
